*{
    font-family: 'Roboto', sans-serif;
}
#about {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
#title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#card-body{
    border-top: solid, 1px;
}

img {
    margin-left: 15px;
}